/* src/components/Sidebar.css */
.sidebar {
    width: 240px; /* Largura da sidebar */
    background-color: #1e1e1e;
    height: calc(100vh - 65px); /* Altura total da janela menos a altura do header */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3); /* Sombra subtil */
    overflow-y: auto; /* Barra de scroll se os links não couberem */
    flex-shrink: 0; /* Impede que a sidebar encolha */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav li a {
    display: block;
    color: #b0b0b0;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 6px;
    margin-bottom: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar nav li a:hover {
    background-color: #3a3a3a;
    color: #ffffff;
}

/* Este estilo será aplicado automaticamente ao link da página ativa */
.sidebar nav li a.active {
    background-color: #ffa500;
    color: #1e1e1e;
    font-weight: bold;
}